{
  "presets": [
    ["es2015"],
    ["react"],
    ["stage-0"],
    ["env", {
      "targets": {
        "browsers": [">1%", "last 2 versions"]
      }
    }]
  ],
  "plugins": [
    ["transform-class-properties"],
    ["transform-object-rest-spread"],
    ["transform-es2015-template-literals"],
    ["transform-runtime", {
      "regenerator": true
    }]
  ]
}