.story-content {
  background-color: white;
  padding: 20px;
  margin-bottom: 40px;
}

.title-story-content {
  border-top: 1px solid #e4e5e6;
  min-height: 40px;
  margin-top: 20px;
}

.title-story-content h3 {
  color: #263238;
  background-color: #e4e5e6;
  position: absolute;
  padding: 5px 10px;
  font-size: 15px;
}

.text-editor,
.text-editor input,
.text-editor textarea{
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  color: rgba(0,0,0,.8);
  font-family: medium-content-sans-serif-font,"Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Arial,sans-serif;
}

.text-editor-title {
  letter-spacing: -.02em;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  margin-left: -2.5px;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.04;
  letter-spacing: -.028em;
}

.text-editor-subtitle {
  --x-height-multiplier: 0.35;
  --baseline-multiplier: 0.179; 
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 21px;
  line-height: 1.58;
  letter-spacing: -.003em;
  margin-bottom: 30px;
}

.text-editor.text-editor-content,
.text-editor.text-editor-footer {
  margin-top: 40px;
  margin-bottom: 40px;
}

.image-container {
  width: 100%;
  margin-bottom: 20px;
}

.user-story-card {
  padding: 20px;
  margin: 20px;
  background: #F5F7FA;
}