/* CUSTOM SIDEBAR */

.sidebar .nav .nav-item .nav-link {
    color: #304047;
}

.sidebar {
    background: #FFFFFF;
    border-right: 1px solid #cfd8dc;
}

.sidebar .nav .nav-item .nav-link.active {
    color: #304047;
    background: #eceff1;
}

.sidebar .nav .nav-item .nav-link.active i {
    color: #304047;
}
/* 
.sidebar .nav .nav-title {
    color: #304047;
} */

.sidebar .nav .nav-item.nav-dropdown.open, .sidebar .nav .nav-item.nav-dropdown.open .nav-link {
    color: #304047;
}

/* Custom Badge */
.badge-dash {
    width: 0.875rem;
    height: 0.875rem;
}

/* .card-dash {
    height: 44.73%;
    width: 18.32%;
}
 */

.title-dash {
    height: 86.4px;
    width: 255.29px;
    margin-left: 24px;
    margin-top: 19px;
    margin-right: 15px;
}

.bg-cards-2 {
    background-color: #E6EBEF !important
}

.bn-dash {
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
}

.b-r-dash{
    border-right: 1px solid #CAD4DC;
}

.b-t-dash{
    border-top: 1px solid #CAD4DC;
}

.b-t-story{
    border-top: 1px solid #F0F3F5;
}

.card-dash{
    width: 320px;
    height: 423px;
    box-shadow: 0 0 8px 0 rgba(50,50,50,0.15);
    border:  1px solid #CAD4DC!important;
}

.card-story{
    width: 320px;
    height: 383px;
    box-shadow: 0 0 8px 0 rgba(50,50,50,0.15);
    border-top: 3px solid #0066CC!important;
}

.b-t-3 {
  border-top: 3px solid #151B1E !important; }

.crop {
    width: 320px;
    height: 160px;
    overflow: hidden;
}

.crop img {
    width: 150%;
    height: 150%;
    margin: 0 -50px 0 -50px;
}
.crop.col-6 img {
    width: 200%;
    height: auto;
    margin: -7% 0 0 -45%;
}

.crop.col-12 img {
    width: 170%;
    height: auto;
    margin: -15% 0 0 -35%;
}

.footer-dash{
    height: 46px;
    width: 100%;
    padding: 1.25rem;
}

.widget-card{
	height: 253px;
	width: 320px;
    border: 1px solid #CAD4DC;
    box-shadow: 0 0 8px 0 rgba(50,50,50,0.15);
}

.header-widget{
    width: 100%;
    height: 46px;
    border-bottom: 1px solid #CAD4DC;
}

.title-widget{
	height: 20px;
	width: 255px;
	font-size: 14px;
	font-weight: bold;
	line-height: 19px;
}

.text-icon{
    color: #b0bec5 !important
}
.b-b-card{
    border-bottom: 1px solid #CAD4DC;
}

.footer-widget{
    height: 45px;
    width: 100%;
}

.tool{
    height: 45px;
    width: 52px;
}